{% extends "base.html" %}
{% load rest_framework %}

{% block student_form %}

<h1>Student - {{ student.name }}</h1>

<form class="form-horizontal" action="{% url 'student-edit' pk=student.pk%}" method="post">
    {% csrf_token %}
    {% render_form serializer %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Save" class="btn btn-default">Save Changes</button>
        </div>
    </div>
    <!-- <input type="submit" name=""> Save Changes </input> -->
</form>

{% endblock %}